@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap");
* {
  box-sizing: border-box;
}

input {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  height: 140px;
  background: rgb(180, 58, 136);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 136, 1) 0%,
    rgba(127, 58, 180, 1) 25%,
    rgba(29, 165, 253, 1) 50%,
    rgba(69, 252, 225, 1) 75%,
    rgba(82, 252, 69, 1) 100%
  );
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.logo img {
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.logo-text {
  color: #fff;
}

/* search block */
.search-form {
  position: relative;
  display: inline-block;
}
.search-input {
  padding: 25px 60px 25px 25px;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 14pt;
}
.search-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5%;
  width: 35px;
  height: 35px;
  /* margin: 25px; */
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

/* main-container */
.main-wrapper {
  padding: 30px 50px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.item {
  flex: 1;
}
.item-img {
  min-width: 400px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
